# ============================================================
# Greenbone / GMP
# ===========================================================
GVM_SOCKET=/run/gvmd/gvmd.sock
GVM_USERNAME=admin
GVM_PASSWORD=admin


# ============================================================
# DefectDojo
# ============================================================
DEFECTDOJO_URL=http://host.docker.internal:8080
DEFECTDOJO_API_TOKEN=31d1d02a0a554e6f8f3a1f8c5b3413cdf9d26f9c
DEFECTDOJO_VERIFY_TLS=false
DEFECTDOJO_PRODUCT=Greenbone
DEFECTDOJO_ENGAGEMENT=Greenbone Automated Scans
DEFECTDOJO_SCAN_TYPE=OpenVAS Parser
DEFECTDOJO_PRODUCT_TYPE=Security Scanning

# ============================================================
# Synchronization
# ============================================================
SYNC_INTERVAL=3600
REPORT_DIRECTORY=/data/reports


# ============================================================
# Behavior
# ============================================================
IMPORT_ONLY_FINISHED=true
DOWNLOAD_XML=true
